[Desktop Entry]

Type=Application
Version=1.0
Name=tig
Comment=Terminal wrapper around tig
Exec=tig-wrapper %f
Icon=/home/leonard/.local/share/icons/git.png
